name: terraform-microinfra

on:
  workflow_dispatch:
permissions:
  contents: read
  id-token: write
  



jobs:
  terraform_initplanvalidate:
    name : terraform init plan
    runs-on: myydelllaptop
      

    defaults:
      run:
        working-directory: environments/dev

    steps:
            - name: Checkout repository
              uses: actions/checkout@v4
      
            - name: Azure Login
              uses: azure/login@v2
              with:
                client-id: ${{ secrets.AZURE_CLIENT_ID }}
                tenant-id: ${{ secrets.AZURE_TENANT_ID }}
                subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      
            - name: Verify Terraform
              run: terraform -v
      
            - name: Terraform Init
              run: terraform init
      
            - name: Terraform Format
              run: terraform fmt 
    
            - name: Terraform Validate
              run: terraform validate
    
            - name: Terraform Plan
              run: terraform plan
